In [1]:
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [2]:
type(tuple1)

tuple

In [3]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [4]:
tuple1[-1]

1.2

In [5]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [6]:
len(tuple2)

5

In [7]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [8]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [9]:
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))